<?xml version='1.0'?>
<moduleconfig>
	<info>
		<name>
			<de-DE>Systeminformation</de-DE>
			<en-US>System information</en-US>
		</name>
		<author>Felix Deil</author>
		<version>0.5</version>
	</info>
	<config>
		<display>default</display>
		<icon>info_16x32.png</icon>
		<show_footer>true</show_footer>
	</config>
</moduleconfig>