html{
	/*background: url('img/bg.png');*/
	background-color: grey;
	background-size: cover;
	background-position: fixed;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Merriweather Sans';
}

/* Menu-styles */
#menu ul, #menu li{
	list-style-type:none;
	text-decoration: none;
}

#menu{
	width: 19%;
	position: absolute;
	left: 10px;
	margin-left: -39px;
}
#menu a{
	color: black;
	text-decoration: none;
}

#main-menu ul li{
	font-size: 9pt;
}

#main-menu a:hover{
	text-decoration: underline;
}

/* Startpage */
.pagePreview{ /* Article-previews list */
	width: 100% !important;
}

.vorschau{ /* article-preview */
	border-bottom: 1px dotted black;
	width: 100%;
	position: relative;
	margin-top: 15px;
	max-height: 240px;
}

.vorschau h3{
	line-height: 0.2;
}

.vorschau .date{
	font-size: 10pt;
	line-height: 0.1;
	color: grey;
}

.readmoreLink{ /* "read more..." */
	font-size: 9pt;
}

/* Search */
#search input{
	border-radius: 10px;
	position: absolute;
	top: 18px;
	right: 18px;
}

/* Main content */
#content, #searchResults{
	position: absolute;
	right: 10px;
	width: 75%;
	background: #CCC;
	border-radius: 15px;
	padding: 8px 8px 8px 8px;
}

#welcome{ /* Welcome-text on startpage */
	border-bottom: 1px solid black;
}

/* Footer */
#footer{
	position: fixed;
	left: 10px;
	bottom: 5px;
	width: 15%;
	opacity: 0.7;
}

#footer:hover{
	opacity: 1;
}

#footer a{
	color: #eee;
}


/* Header */
#header{
	height: 150px;
	/*background: url('img/header.png');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 15px;
}



/* Other */
#banner{
	position: absolute;
	color: black;
	top: 20px;
	left: -40px;
	height: 25px;
	width: 150px;
	background: orange;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	box-shadow: 2px 2px 5px #000;
}